@model Watchman.Web.ViewModels.PatientPartialViewModel

<div class="container w-100">
    <div class="row">
        <div class="col-2">
            Patient id
        </div>
        <div class="col-6">
            @Html.DisplayFor(model => model.PatientId)
        </div>
    </div>
    <div class="row">
        <div class="container">
            <h2>Ignorable signs:</h2>
            @foreach (var sign in Model.IgnorableSigns)
            {
                <div class="row">
                    <div class="col-6">@sign.SignType</div>
                    <div class="col-3">
                        @Html.ActionLink("Remove", "RemoveIgnorableSign", "Home", new {patientId = @Model.PatientId, signType = @sign.SignType})
                    </div>
                </div>
                <hr/>
            }
        </div>
        <br/>
        <div class="container">
            <form class="row">
                <div class="col-2">
                    Add new
                </div>
                <div class="col-4">
                    <input type="text" placeholder="Input sign type" name="signType"/>
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-success">Add</button>
                </div>
            </form>
        </div>
    </div>

    <h2>Health measurements:</h2>
    <div class="row">
        @foreach (var measurement in Model.HealthMeasurements)
        {
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        @Html.DisplayNameFor(model => measurement.MeasurementTime)
                    </div>
                    <div class="col-8">
                        @Html.DisplayFor(model => measurement.MeasurementTime)
                    </div>
                </div>
                @foreach (var sign in measurement.Signs)
                {
                    <div class="row">
                        <div class="col-2">
                            @sign.GetType().Name
                        </div>
                        
                        <div class="col-5">
                            @sign.Value
                        </div>
                    </div>
                }
            </div>
            <hr/>
        }
    </div>
</div>
