@using Watchman.BusinessLogic.Models.PatientStates.HealthStates
@model Watchman.Web.ViewModels.WatchmanViewModel

@{
    ViewData["Title"] = "WatchmanProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2>Input email of patient to send control request:</h2>
    </div>
    <div class="row">
        <form asp-controller="Home" asp-action="SendRequestToPatient" method="post">
            <label>Input patient email</label>
            <input type="email" name="patientEmail" placeholder="Email" />
            <button type="submit">Send request</button>
        </form>
    </div>
</div>
<div class="container">
    @if (Model.PatientsAndPersonalInfoPairs?.Any() ?? false)
    {
        <div class="row">
            <h2>You are a watchman for next patients:</h2>
        </div>
        <div class="row thead-light">
            <div class="col-4">Patient name</div>
            <div class="col-2">Health state</div>
            <div class="col-2">Activity state</div>
            <div class="col-1"></div>
            <div class="col-3"></div>
        </div>
        @foreach (var patient in Model.PatientsAndPersonalInfoPairs)
        {
<div class="row">
    <div class="col-4">@patient.PersonalInformation.FirstName @patient.PersonalInformation.SecondName</div>
    <div class="col-2">@patient.Patient.CurrentActivityState.GetType().Name</div>
    @if (patient.Patient.CurrentHealthState is NormalHealthState)
    {
        <div class="col-2 bg-success">@patient.Patient.CurrentHealthState.GetType().Name</div>
    }
    else
    {
        <div class="col-2 bg-danger">@patient.Patient.CurrentHealthState.GetType().Name</div>
    }
    <div class="col-1">
        <form asp-action="PatientProfileForWatchman" asp-controller="Home" method="get">
            <button class="btn btn-outline-info" name="patientId" value="@patient.Patient.Id">Details</button>
        </form>
    </div>
    <div class="col-3">
        <form asp-action="RemovePatient" asp-controller="Home" method="post">
            <button class="btn btn-outline-danger" name="patientId" value="@patient.Patient.Id">Stop monitor patient</button>
        </form>
    </div>
</div>
        }
    }
    else
    {
        <p>You don't have patients to monitor</p>
    }
</div>
